.container{
  position: relative;
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  background-color: white;
  color:black;
}
.btn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(1, 137, 137);
  border: none;
  border-radius: 6px;

}

.reset{
  background-color: rgb(255, 126, 126);
}

.container.dark {
    background-color: black;
    color: white;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container.dark .toggle-btn {
  background-color: white;
  color: black;
}
p{
  text-align: center;
}